.hero {
    height: 100vh;
    z-index: 2;
    position: relative;

    & p{
        font-size: 1.5rem;
    }

    & h1 {
        font-size: 4.2rem;
    }

    & h2 {
        font-size: 3.35rem;
    }
}

