.proj-container {
    height: 100vh;
    clip-path: inset(0);
}

.proj-flex-box {
    position: fixed;
    top: 0;
}

.proj-image {
    background-color: gray;
    height: 300px;
    margin-top: 70px;
}

.proj-id {
    margin-top: -45px;
    font-size: 4rem;
    font-weight: 700;
    text-align: end;
    color: var(--accent-dark);
    opacity: .45;
}

.proj-title {
    margin-top: -27px;
    font-weight: 600;
    font-size: 2.25rem;
}

.proj-description {
    text-wrap: pretty;
}

.light-theme {
    & .proj-id {
        color: var(--accent-light);
    }

    & .proj-title {
        color: var(--card-dark)
    }

    & .proj-description {
        color: var(--card-dark);
    }

    & .proj-tech {
        color: var(--card-dark);
    }
}

@media screen and (min-width: 768px) {
    .proj-image {
        height: 100vh;
        margin-top: 0;
    }

    .proj-id {
        margin-top: 50px;
        left: 35px;
        font-size: 6rem;
        font-weight: 700;
        text-align: end;
        position: relative;
        color: lime;
        opacity: .65;
    }

    .proj-title {
        margin-top: 0;
        font-weight: 600;
        font-size: 2.25rem;
    }

    .proj-description {
        color: whitesmoke;
        background-color: var(--card-dark);
        padding: 20px;
        border-radius: 20px 0 0 20px;
        text-wrap: pretty;
    }

    .light-theme .proj-description {
        background-color: var(--card-light);
    }
}

@media screen and (max-width:767px) {
    .proj-container {
        height: initial;
        clip-path: none;
    }

    .proj-flex-box {
        position: static !important;
    }
}
