hr {
    color: var(--accent-dark);
    opacity: 1;
}

li::marker {
    color: var(--accent-dark);
}

.resume-title {
    position: sticky;
    top: 60px;
}

.light-theme {
    & hr,
    li::marker {
        color: var(--accent-light);
    }

    & .resume-title,
    .resume-text {
        color: var(--card-dark);
    }

}

@media screen and (max-width: 767px) {
    hr {
        display: none;
    }

    .resume-title {
        position: initial;
    }
}