#stats {
    margin-bottom: 100px;
}

.stat-card-container{
    min-height: 200px;
}

.stat-card-start {
    border-radius: 20px 0 0 20px;
    height: 100px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;

    & p {
        display: none;
    }

    &:hover {
        background-image: linear-gradient(var(--card-dark), rgba(0, 255, 0, 0.25), rgba(0, 255, 0, 0.5));
        border: none;
        height: 175px;
        border-radius: 20px 20px 0 20px;

        & p {
            display: initial;
            padding-top: 15px;
        }

        & .stat-card-body {
            margin-top: 43px;
        }
    }
}

.stat-card {
    border-radius: 0;
    height: 100px;
    transition: all 0.3s ease-in-out;
    overflow: hidden;   

    & p {
        display: none;
    }

    &:hover {
        background-image: linear-gradient(var(--card-dark), rgba(0, 255, 0, 0.25), rgba(0, 255, 0, 0.5));
        border: none;
        height: 175px;
        border-radius: 20px 20px 0 0;

        & p {
            display: initial;
            padding-top: 15px;
        }

        & .stat-card-body {
            margin-top: 43px;
        }
    }
}

.stat-card-end {
    border-radius: 0 20px 20px 0;
    height: 100px;
    transition: all 0.3s ease-in-out;
    overflow: hidden;

    & p {
        display: none;
    }

    &:hover {
        background-image: linear-gradient(var(--card-dark), rgba(0, 255, 0, 0.25), rgba(0, 255, 0, 0.5));
        border: none;
        height: 175px;
        border-radius: 20px 20px 20px 0;

        & p {
            padding-top: 15px;
            display: initial;
        }

        & .stat-card-body {
            margin-top: 43px;
        }
    }
}

.stat-card-body {
    height: 150px;
    margin-top: 30px;
    transition: all 0.3s ease-in-out;
}

.stat-card-start,
.stat-card,
.stat-card-end {
    & h3 {
        font-size: calc(1rem + .4vw);
        font-weight: 700;
    }
}

.light-theme {
    & .stat-card-start:hover,
    .stat-card:hover,
    .stat-card-end:hover {
        background-image:linear-gradient(var(--card-light), rgba(250, 128, 114, 0.25), rgba(250, 128, 114, 0.5));
    }
}

@media screen and (max-width:767px) {

    .stat-card-start,
    .stat-card,
    .stat-card-end {
        border-radius: 20px;
        background-image: linear-gradient(var(--card-dark), rgba(0, 255, 0, 0.25), rgba(0, 255, 0, 0.5));
        border: none;
        height: 175px;
        border-radius: 20px;

        & p {
            padding-top: 15px;
            display: initial;
        }

        &:hover {
            border-radius: 20px;
        }        
    }
}